"*":
  "atom-ternjs":
    displayAboveSnippets: true
    lint: true
  "color-picker":
    preferredFormat: "HEX"
    uppercaseColorValues: true
    useSnippets: true
    useSnippetsAndFunction: true
  core:
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 12
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 160
    scrollPastEnd: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "673b8dff-d9f8-9fa0-92b7-408c2c8590e8"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
